# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bristlite

# Make this the same as your github username/organisation
REPO_ORGANIZATION="sprce"

IMAGE_DESC="Personalized Bazzite image focused on small KDE and package management tweaks."
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://raw.githubusercontent.com/sprce/sprce/refs/heads/main/bristlite_icon.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
